<div>
  <div style="display: block;">
  <mat-label>Report:</mat-label>
  <mat-form-field appearance="fill" >
    <mat-label>Prescription Date</mat-label>
    <input matInput [matDatepicker]="picker3" value="" [(ngModel)]="reportDate" >
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
</mat-form-field>
<button mat-button (click)="showReport()"><i class="icon-search"></i>Show Report</button>
</div>

<mat-label>Search:</mat-label>

<mat-form-field appearance="fill" style="margin-right: 10px;">
  <mat-label>From Month</mat-label>
  <mat-select [(ngModel)]="fromMonth">
    <mat-option *ngFor="let month of months" [value]="month.value">
      {{month.label}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>To Month</mat-label>
  <mat-select [(ngModel)]="toMonth">
    <mat-option *ngFor="let month of months" [value]="month.value">
      {{month.label}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-button (click)="fetchPrescriptions()"><i class="icon-search"></i>Search</button>

  <button mat-button (click)="createForm()"><i class="icon-plus"></i>Prescription Entry</button>
</div>

<div class="alert alert-success" *ngIf="showAlert">
  {{ notificationMessage }}
</div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Prescription Date</th>
        <th scope="col">Visit Date</th>
        <th scope="col">Diagnosis</th>
        <th scope="col">Prescribed Medicine</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        
      <tr *ngFor="let row of prescriptions">
        <td>{{row.name}}</td>
        <td>{{row.age}}</td>
        <td>{{row.prescriptionDate}}</td>
        <td>{{row.visitDate}}</td>
        <td>{{row.diagnosis}}</td>
        <td>{{row.prescribedMedicine}}</td>
        <td>
          <button type="button" class="btn btn-primary"(click)="showForm(row)">
            <i class="icon-edit"></i>
          </button>
          <button pButton type="button" class="btn btn-primary" (click)="deletePrescription(row.id)"><i class="icon-trash"></i></button> </td>
      </tr>
   
    </tbody>
  </table>


<div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{'display':displayStyle, 'z-index':10}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Prescription Form</h4>
        </div>
        <div class="modal-body">
          <app-prescription-form [selectedPrescription]="selectedPrescription" (onSave)="closePopup($event)" (onCancel)="closePopup($event)" #formComponent></app-prescription-form>
        </div>
      </div>
    </div>
  </div>
  
